body{
    background-color: aliceblue;
}
.globalfile{
    width: 500px;
    margin: 10px auto;
}
img{
   float: left;
    clip-path:ellipse(50% 50%);
    height: 150px;
    width: 170px;
    position: absolute;
    
}
.intoduction lu{
    list-style-type: none;
    position: relative;
    left: 200px
}
h1,h2{
    color: darkblue;
    text-align: center;
}
h1{
    margin-top: 50px;
}
div{
    margin-bottom: 20px;
}
hr{
    background-color: brown;
    height: 1px;
}